@model TurtleDAL.uspClanList_Result


<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
        <figure class="img-rounded">
            <img src=@Url.Content("~/images/"+Model.SymbolPic) alt=@Model.Name class="img-responsive"  height="150" width="100" />
            <figcaption class="caption">
                <h3 class="@if (Model.IsEvil == true)
                {
                    @:text-success
                }
                else if (Model.IsEvil == false)
                {
                    @:text-danger
                }
                ">
                    <b>Clan : </b>@Model.Name
                </h3>
            </figcaption>
        </figure>


        <div class="btn-group">
            <a href=@Url.Action("Details", new { guid = Model.ClanGUID }) class="btn btn-xs btn-info">
                Details
                <span class="glyphicon glyphicon-fullscreen"></span>
            </a>
            <a href=@Url.Action("Edit", new { guid = Model.ClanGUID}) class="btn btn-xs btn-warning">
                Edit
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href=@Url.Action("Delete", new { guid = Model.ClanGUID } ) class="btn btn-xs btn-danger">
                Delete
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</div>