@model TurtleDAL.uspNinjaList_Result

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">

        <figure class="img-responsive">
            <div class="top pull-right">
                <a href=@Url.Content("#"+Model.NinjaGUID) data-toggle="collapse">
                    <span class="glyphicon glyphicon-cog cog-color"></span>
                </a>
            </div>
            <img src=@Url.Content("~/images/ninja/"+Model.Picture) alt=@Model.Name class="img-rounded" height="100" width="100" />
            <figcaption class="caption">
                <h3 class="@if (Model.IsAlive == true)
                {
                    @:text-success
                }
                else if (Model.IsAlive == false)
                {
                    @:text-danger
                }
                ">
                    <b>Name: </b>@Model.Name
                    <b>Age: </b>
                </h3>
            </figcaption>
        </figure>


        <div class="collapse" id=@Model.NinjaGUID>
            <div class="btn-group-xs">
                <a href=@Url.Action("Details", new { guid = Model.NinjaGUID }) class="btn btn-info">
                    <span class="glyphicon glyphicon-fullscreen"></span>  Details
                    
                </a>
                <a href=@Url.Action("Edit", new { guid = Model.NinjaGUID }) class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit"></span>  Edit
                   
                </a>
                <a href=@Url.Action("Delete", new { guid = Model.NinjaGUID } ) class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>  Delete
                    
                </a>
            </div>
        </div>
    </div>
</div>
