@model TurtleDAL.Ninja

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add","Create")
@Html.ActionLink("List", "List")
@Html.ActionLink("Edit", "Edit")
@Html.ActionLink("De", "Create")