@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make identity in your own class</h2>
        <p>Project Reference  <small><a class="btn btn-info" href="http://danieleagle.com/blog/2014/05/setting-up-asp-net-identity-framework-2-0-with-database-first-vs2013-update-2-spa-template/"> Link ....</a></small></p>
        </div>
    <div class="col-md-4">
        <h2>Role Base Security</h2>
        <p>Project Reference  <small><a href="http://www.dotnetcurry.com/aspnet-mvc/1102/aspnet-mvc-role-based-security"> Link ....</a></small></p>
    </div>
    <div class="col-md-4">
        <h2>Make you own identity class</h2>
        <p>Project Reference  <small><a href="http://www.codeguru.com/csharp/.net/net_asp/mvc/securing-asp.net-mvc-applications-with-asp.net-identity.htm"> Link ....</a></small><a href="http://www.codeproject.com/Articles/674760/Code-First-Migration-and-Extending-Identity-Accoun">another</a></p>
    </div></div>