@model IEnumerable<Turtle.ORM.uspClanList_Result>

@{
    ViewBag.Title = "Index";
    int? totalpages = ViewBag.totalpages;
    int tilecount = 1;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<div class="row">

   
    @foreach (var item in Model)
    {

        Html.RenderPartial("_ClanTile", item);
        if ((tilecount % 4) == 0)
        {
          @:</div>
          @:<div class="row">
        }
        tilecount++;

    }
</div>

<hr/>
<div class="row">
    @if (totalpages.HasValue)
    {
        <ul class="pagination">
            @for (int currentpage = 0; currentpage < totalpages.Value; currentpage++)
            {
                <li class="active">
                    <a href=@Url.Action("Index", "Clans", new { currentpage = currentpage })> @(currentpage+1)</a>
                </li>
            }

        </ul>
    }

</div>


